* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

a {
    text-decoration: none;
}
a:active, a:hover {
    color: #303c54 !important;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 1px -1px 12px 1px rgba(0,0,0,0.63);
    position: fixed;
    top: 0;
    padding: 0.5em 3em;
    z-index: 10;
}

.logo {
    margin-bottom: 0 !important;
    font-family: 'Varela Round', sans-serif;
}

.logo a {
   color: #303c54;
}
.logo a span {
    color: #d2dc13;
}

.btn-layout {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon{
    font-size: 1.7em;
}

.main {
    display: flex;
    overflow: hidden;
}

.sidebar {
    flex: 0.2;
    background-color: #303c54;
    min-height: 100vh;
}

.content-wrapper {
    /* flex: 0.8; */
    width: 100%;
    margin-top: 4em;
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    flex: 1 0 auto;
}

.nav-buttons-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 1em;
}

.sidebar {
    padding: 5em 2em 2em 2em;
}

.country-entry {
    color: #fff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.country-icon {
    margin-right: 1em;
}

.card-container {
    min-height: 65vh !important;
}

.news-card{
    /* max-width: 400px; */
    min-width: 250px;
}
.news-image{
    max-height: 200px;
    object-fit: fill;
}

.error-404 {
    font-size: 6em;
    color: #303c54;
}

.error-404-subtitle {
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    font-weight: bold;
    color: #303c54;
}

.home-title {
    font-size: 6em;
    color: #303c54;
}

.prefix {
    color: #d2dc13;
}

.home-subtitle {
    font-size: 2em;
    color: #303c54;
    display: flex;
    justify-content: center;
}

.footer {
    background-color: #fff;
    width: 100%;
    /* position: absolute;
    bottom: 0; */
    padding: 2em;
}