* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

a {
    text-decoration: none;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 1px -1px 12px 1px rgba(0,0,0,0.63);
    position: fixed;
    top: 0;
    padding: 0.5em 3em;
}

.logo {
    margin-bottom: 0 !important;
    font-family: 'Varela Round', sans-serif;
}

.logo a {
   color: #303c54;
}
.logo a span {
    color: #d2dc13;
}

.btn-layout {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon{
    font-size: 1.7em;
}

.main {
    display: flex;
    overflow: hidden;
}

.sidebar {
    flex: 0.2;
    background-color: #303c54;
    min-height: 100vh;
}

.content-wrapper {
    flex: 0.8;
    width: 100%;
    background-color: #ebedef;
    min-height: 100vh;
}

.nav-buttons-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 1em;
}

.sidebar {
    padding: 7em 2em 2em 2em;
}

.country-entry {
    color: #fff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.country-icon {
    margin-right: 1em;
}